@model Projet_5.Web.Models.ViewModel.CarForPublicViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="container mt-5">
	<a href="@Url.Action("Index", "Home")" class="btn btn-express mt-4" style="margin-left : 30px">&larr; Retour</a>


	<div class="d-flex justify-content-between gap-4">
		<div class="d-flex align-items-center justify-content-center" style="height: 595px; width: 100%;">
			<img src="@Model.ImagePath" alt="Image de la voiture" style="object-fit: contain; width: 100%; height: 100%" />
		</div>
		<div class="d-flex flex-column justify-content-start" style="height: 595px; width: 100%;">
			@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
			{
				<div class="p-3" style="margin-bottom: 16px;">
					<p class="text-muted">Vous avez publié cette annonce, vous pouvez la :</p>
					<a asp-area="Admin" asp-controller="CarForSale" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary me-2">
						Modifier
					</a>
					<a asp-area="Admin" asp-controller="CarForSale" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
						Supprimer
					</a>
				</div>
			}
			<div>
				<h2 style="margin: 30px; white-space: nowrap;"><strong>Prix de vente :</strong> @Model.SalePrice €</h2>
				<p style="margin: 30px;"><strong>Année :</strong> @Model.Year</p>
				<p style="margin: 30px;"><strong>Marque :</strong> @Model.BrandName</p>
				<p style="margin: 30px;"><strong>Modèle :</strong> @Model.Model</p>
				<p style="margin: 30px;"><strong>Finition :</strong> @Model.Trim</p>
				@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
				{
					@await Html.PartialAsync("_AvailabilityBadge")
				}
			</div>
		</div>
	</div>
</div>

