@model IEnumerable<CarForPublicViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
	<div style="margin-bottom: 80px;">
		<h1>Nos voitures</h1>

		@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
		{
			<div class="text-center mb-4">
				<a asp-area="Admin" asp-controller="CarForSale" asp-action="Create" class="btn btn-express">+ Ajouter une voiture</a>
			</div>
		}
	</div>

	<div class="row g-5">
		@foreach (var car in Model)
		{
			<div class="col">
				<div class="d-flex align-items-center" style="width: 594px; height: 316px;">
					<div style="width: 411px; height: 316px;">
						<a asp-action="Details" asp-route-id="@car.Id">
							<img src="@car.ImagePath" alt="Car Image" style="width: 100%; height: 100%; object-fit: cover; object-position: center; border-radius: 6px;" />
						</a>
					</div>
					<div style="width: 183px; height: 316px; text-align: left; margin-left: 20px; margin-top: 80px;">
						<h2 style="font-size: 22px; white-space: nowrap;">Prix : @car.SalePrice €</h2>
						<p>Année : @car.Year</p>
						<p>Marque : @car.BrandName</p>
						<p>Modèle : @car.Model</p>
						<p>Finition : @car.Trim</p>
						@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
						{
							@await Html.PartialAsync("_AvailabilityBadge", car)
						}
					</div>
				</div>
			</div>
		}
	</div>
</div>
