@model Projet_5_App.Models.ViewModel.CarForPublicViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4" style="max-width: 1320px;">
    <a href="@Url.Action("Index", "Home")" class="btn btn-express mt-4" style="margin-left : 30px">&larr; Retour</a>

    <div class="text-center mb-3">
        @if (!Model.EffectiveAvailability)
        {
            <span class="badge bg-warning">Bientôt disponible</span>
        }
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="d-flex justify-content-between" style="gap: 24px;">
            <div style="flex: 0 0 625px; height: 595px; display: flex; align-items: center; justify-content: center;">
                <img src="@Model.ImagePath" alt="Image de la voiture" style="object-fit: contain;" />
            </div>
            <div style="flex: 0 0 625px; height: 595px; display: flex; flex-direction: column; justify-content: flex-start;">
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                    <div class="p-3" style="margin-bottom: 16px;">
                    <p class="text-muted">Vous avez publié cette annonce, vous pouvez la :</p>
                    <a asp-area="Admin" asp-controller="CarForSale" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary me-2">
                        Modifier
                    </a>
                    <a asp-area="Admin" asp-controller="CarForSale" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                        Supprimer
                    </a>
					</div>
				}
                <div>
                    <h2 style="margin: 30px; font-size: 28px;"><strong>Prix de vente :</strong> @Model.SalePrice €</h2>
                    <p style="margin: 30px; font-size: 18px; color: #796157;"><strong>Année :</strong> @Model.Year</p>
                    <p style="margin: 30px; font-size: 18px; color: #796157;"><strong>Marque :</strong> @Model.BrandName</p>
                    <p style="margin: 30px; font-size: 18px; color: #796157;"><strong>Modèle :</strong> @Model.Model</p>
                    <p style="margin: 30px; font-size: 18px; color: #796157;"><strong>Finition :</strong> @Model.Trim</p>
				</div>
			</div>
        </div>
    </div>
</div>

